################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Shrek 2 team action tools/FileContentIndex
/.vs
/bin/Debug
/obj/Debug
